@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@200;400&display=swap');


body {
    
    width: 100%;
    height: 100vh;
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
}

header, img {

    width: 12vw;
    margin-left: 60px;
    margin-top: 50px;

}
 


.question {
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}



.next_question_button {
    position: absolute;
    bottom: 5px;
    right: 25px;
}

footer {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 50px;
}
#box-counter{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#tenAnswers{
    color: #d20094;

}

.counter p{
    font-family: 'Outfit', sans-serif;

}

.flex {

    display: flex;
    width: 49%;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.choices{
       display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        width: 145%;
        height: 30vh;
    
        flex-wrap: wrap;
}

label{
    color: white;
}

input:checked +label {
    color: red;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.radio-button{
    width: 40%;
    height: 10vh;
    justify-content: center;

    display: flex;
    align-items: center;
    opacity: 1;
    border-radius: 5em;
    box-shadow: 1px -5px 3px white;
    background: rgba(102,51,153,0.3);
    font-family: 'Outfit', sans-serif;
    font-size: 1.1em;
    
    line-height: 1.1;
    letter-spacing: 2.5px;


}
.form-style{
    cursor: pointer;
}

.form-style:checked +label {
    color: white;
    background: linear-gradient(#d20094, #900080);
    
    text-align: center;
    width: 100%;
    height: 10vh;
    justify-content: center;

    display: flex;
    align-items: center;
    opacity: 1;
    border-radius: 5em;
    box-shadow: 1px -5px 3px white;
    font-family: 'Outfit', sans-serif;
    font-size: 1.1em;
    
    line-height: 1.1;
    letter-spacing: 2.5px;
    box-shadow: inset 0em -2px 2px white;

}

/* input[type='radio']:checked +label:before{
    border-color: transparent;
    background-color: transparent;
} */

 input[type="radio"] {
    /*Add if not using autoprefixer */
 -webkit-appearance: none;
    appearance: none; 
 /*For iOS < 15 to remove gradient background */
 background-color: #fff; 
 /*Not removed via appearance */
 margin: 0;
  } 

  #buttonNextToQuiz {
    margin-left: 250px;
    background: #00ffff;
    color: black;
    width: 130px;
    height: 40px;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 0px 0px 20px 8px rgba(0, 255, 255, 0.21);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 0px 0px 20px 8px rgba(0, 255, 255, 0.21);
}